html {
    font-family: sans-serif;
}


/* navbar */
@media (min-width: 768px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }

    #navbar {
        text-align: center;
    }
}

.collapse img {
    margin-left: 15%;
}

.margin {
    margin-bottom: 0px !important;
}

/* firstelement */
.back {
    color: #ffffff;
    background: #000000;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 2px;
}

.firstel {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 20px;
}



/* hero */
.heroback img {
    height: 100%;
    width: 100%;
}

.fancy {
    /* font-family: NeuzeitGro-Bol !important; */
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 500;
    font-style: normal;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    margin-bottom: 20px;
}

.container-custom {
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-right: auto;
    margin-left: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* second */
.video {
    background-color: #1A1A19;
    width: 100% !important;
    height: 100% !important;
    left: 0px !important;
    top: 0px !important;
}


/* third panel */
.text-container {
    display: flex;
    align-items: center;
}

.center-block {
    /* height: 762px !important; */
    position: relative;

}

.center-block-inner {
    height: 100%;
    /* display: flex;
    justify-content: center; */

}

.center-block h5 {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 6px;
    font-family: NeuzeitGro-Bla;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.text-container p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
}



.third {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
    /* height: 100% !important; */
    /* left: 0px !important; */
    /* top: 0px !important; */
}

/* fourth */
.fourth {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

/* fifth */
.fifth {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

/* sixth */
.sixth {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

/* seven  */
.seven {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

.main-2 h2 {
    padding: 40px 0
}

/* main-3  */
.main-3 {
    background-image: url("./assests/AbbeyRoadPhoto.jpg");
    color: #ffffff;
}

.image3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 70vh;
    left: 0;
    top: 50%;
    will-change: transform;
}

/* own  */
.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 0.73em;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

/* main-5  */
.main-5 {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

.main-5 svg {
    width: 100px;

}

.hover-fill-target {

    fill: #fff;
    transition: .2s ease-out;
}

.hover-stroke-target {
    stroke: #fff;
    transition: .2s ease-out;
}

.item-room {
    height: 100% !important;
    width: auto !important;
    will-change: opacity !important;
    opacity: 1 !important;
    transition: .4s ease-out !important;
}

/* main5 carousel  */
.carousel2 {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

/* main-6  */
.main-6 {
    background: #404040;
    color: #ffffff;
    width: 100% !important;
}

.inner-icon-wrap {
    display: inline !important;
}

.compatible-images {
    display: inline !important;
}

.compatible-images img {
    height: auto;
    width: 300px;

}

.comp-image-1 {
    margin-left: 70px;
}

.comp-image-2 {
    margin-left: -80px;
}

.comp-image-3 {
    margin-left: -80px;
}

/* main7  */
.main-7 {
    background: #333333;
    color: #ffffff;
    width: 100% !important;
}

.shop-images img {
    height: auto;
    width: 285px;

}

.shop-image-2 {
    display: inline;
}

/* foramtion-newsletter */
.foramtion-newsletter {
    background: #F3F3F3;
    width: 100% !important;
}

/* footer */
.nav-footer li ul {
    color: black;
    text-decoration: none;
    list-style: none;
}